#header1 {
  background-color: blue;
  color: white;
  padding: 20px;
  overflow: hidden;
}

#header1 h1 {
  margin: 10px;
  float: left;
}

#header1 img {
  float: left;
  margin-right: 10px;
}

#header1 h5 {
  margin: 0;
  float: right;
}

#header1 h5 a {
  color: white;
  text-decoration: none;
  border-bottom: none;
  padding: 8px 12px;
}

#header1 h5 a:hover {
  background-color: #f2f2f2;
  color: rgb(229, 6, 6);
}

body {
  background-color: grey;
}

#Contact_info {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contact_box, h2, p {
  margin-top: 4px;
  margin-bottom: 4px;
  padding-top: 10px;
}

.contact_box img {
  border-radius: 200%;
}
